<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('assets/fontawesome/fontawesome.all.min.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <nav>
            {% if app.user %}
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
            {% else %}
                <li><a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a></li>
                <li><a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a></li>
            {% endif %}
        </nav>
        
        <div class="container-fluid">
        {% if app.user %}
        {% else %}
            <h2>Vous n'êtes pas connecté</h2>
        {% endif %}
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        {% endblock %}
    </body>
</html>