{% extends 'base.html.twig' %}

{% block title %}Liste des tags{% endblock %}

{% block body %}

    {% if app.user %}
    <div class="container">
        <div class="row justify-content-center mt-5">
        <h1 class="font-weight-normal text-center mb-4">Liste des tags</h1>

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom du tag</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.tagName }}</td>
                    <td>
                        <a href="{{ path('app_tag_show', {'id': tag.id}) }}"><i class="fa-solid fa-eye me-3"></i></a>
                        <a href="{{ path('app_tag_edit', {'id': tag.id}) }}"><i class="fa-solid fa-pen"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun tag trouvé et disponible</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class="d-flex justify-content-center mt-4">
        <a href="{{ path('app_tag_new') }}" class="btn btn-block btn-signup mt-5 mb-5">Créer un nouveau tag</a>
    </div>
    
    {% endif %}
{% endblock %}
