{% extends 'base.html.twig' %}

{% block title %}{{ tag.tagName }}{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container">
            <div class="row justify-content-center mt-5">
                <h1 class="mb-4 font-weight-normal text-center">Tag n°{{tag.id}}</h1>

            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Tag_name</th>
                        <td>{{ tag.tagName }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-center mt-4">
                <a href="{{ path('app_tag_index') }}" class="btn btn-block btn-signup me-3">Retourner à la liste</a>
                <a href="{{ path('app_tag_edit', {'id': tag.id}) }}" class="btn btn-outline btn-login">Modifier</a>
            </div>
            <div class="d-flex justify-content-center mt-4">
                {{ include('tag/_delete_form.html.twig') }}
            </div>
        </div>
    {% endif %}
{% endblock %}
