{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}

    <div class="mb-3">
        {{ form_row(form.lien_url, {'label': 'Url', 'attr': {'class': 'form-control', 'placeholder': 'Saisissez une url...'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.lien_titre, {'label': 'Titre', 'attr': {'class': 'form-control', 'placeholder': 'Saisissez un titre...'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.lien_desc, {'label': 'Description', 'attr': {'class': 'form-control', 'placeholder': 'Saisissez une description...'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.lien_image, {'label': 'Image (url)', 'attr': { 'class': 'form-control', 'placeholder': 'Saisissez une url d\'image...'}}) }}
    </div>
    <div class="mb-4">
        <label for="tag_id">Tag associés</label><br>
        {% for tagField in form.tag_id %}
            <div class="tag-checkbox">
                {{ form_widget(tagField) }}
                {{ form_label(tagField) }}
            </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-block btn-signup">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
