{% extends 'base.html.twig' %}

{% block title %}Lien index{% endblock %}

{% block body %}

    <h1> Liste des liens </h1>


        <div class="row">
        {% for lien in pagination %}
        
            <div class="card miniature col-4 col-sm-3 col-xl-2" >

                <a href="{{ path('app_lien_show', {'id': lien.id}) }}"><img class='miniature' src="{{ lien.lienImage }}">
                <div class='container'> <p> {{lien.lienTitre}} </p></div></a>
            </div>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
            
        {% endfor %}

        </div>


    {{ knp_pagination_render(pagination) }}

    <a href="{{ path('app_lien_new') }}">Create new</a>
{% endblock %}
